{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead"><i>ScrapFreelance is a web application designed for obtaining the key informations 
about the freelance postions (in France) in IT offered by the www.freelance-info.fr
french website dedicated to freely linked up IT profesionals and 
companies in need of their skills by cutting off the "middle man"</i></p>
  <hr class="my-4">
  <p> To jump start the use of our application start by entering a technologie name in the serach bar (ex : java , python ..)</br>
    <strong color="red">for detailled informations you can right click + copy in your web browser the "links" section about each opportunity</strong></p>
  <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
</div>



{% endblock %}